{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h3>View your image</h3>

<div class='row'>
    <div id='imageView' class='col s8' data-imgID='{{img.imgID}}'>
        <img class="responsive-img" src='{{img.imgURL}}'>
    </div>

    <div class="col s4">
        <div class="card grey lighten-4 p-1">
            <div id='classView' class='row'>
                {% for tag in img.tags %}
                <div class='row imageTag card deep-orange lighten-2'>
                    <span class='col s12' data-cID="{{tag.id}}">
                        {{tag.name}}
                        <i data-type="close" class="right">x</i>
                    </span>
                </div>
                {% endfor %}
            </div>

            <div class='row'>
                <form id="tagBox">
                    <input type='text'>
                    <button type='submit' class="grey btn-floating btn-small right waves-effect">
                        <i class="material-icons">add</i>
                    </button>
                </form>
            </div>

            <div class="row">
                <a id="saveButton" class="waves-effect btn-large right deep-orange">
                    <i class="material-icons right">cloud</i>
                    Submit
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script src="/assets/js/editTags.js"></script>
{% endblock %}