{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <h3>Latest Uploads:</h3>

  <input id="fileInput" type=file name='image' />

  <div class="row margin-top">
    {% for img in imgs %}
      <div class="col s4">
        <a href="{{ img.href }}">
          <img class="card" src="{{ img.src }}">
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}

<script src="/assets/js/classifyImageForm.js"></script>

{% endblock %}